.customers_list_container {
  height: calc(100vh - 5.5vw);
  width: 100%;
  justify-items: center;
}

.customers_list_content {
  padding: 3vw;
}

.customers_list_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.customers_list_search input {
  height: 3.5vh;
  border: 1px black solid;
  cursor: pointer;
  font-size: 1.5em;
}

.table_styling {
  background-color: white;
  border-collapse: separate;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
  border-spacing: 0;
  overflow: hidden;
  width: 93vw; /*100vw - 6vw side padding*/
}

/* table border */
.table_styling th,
.table_styling td {
  border: 1.5px black solid;
  padding: 10px 8px;
}

/* headers */
.table_styling thead {
  background-color: #4ab2d3;
}

/* data rows */
.table_styling tbody tr {
  cursor: pointer;
}

.table_styling tbody tr:nth-of-type(even) {
  background-color: #4ab2d330;
}

.table_styling tbody tr:hover {
  background-color: #c6e6f1 !important;
}
