.customers_list_container {
  height: calc(100vh - 5.5vw);
  width:100vw;
  justify-items:center;
}

.customers_list_content{
  /* background-color:lightgray; */
  padding: 3vw;
}

.customers_list_search {
  /* background-color:grey; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.customers_list_search input {
  height:5vh;
}
.customers_list_table {
  background-color: white;
  border-collapse: separate;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  text-align: left;
  /* border-radius: 10px; COMMENTED OUT ROUNDED BORDER */
  border-spacing: 0;
  overflow: hidden;
  width: 94vw; /*100vw - 6vw side padding*/
}

/* table border */
th,
td {
  border: 1.5px black solid;
  padding: 10px 8px;
}

/* thead tr th:first-child {
  border-top-left-radius: 10px;
}

thead tr th:last-child {
  border-top-right-radius: 10px;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
} */

/* headers */
thead {
  background-color: #4ab2d3;
}

/* data rows */
tbody tr {
  cursor: pointer;
}


.customers_list_table tbody tr:nth-of-type(even) {
  background-color: #4ab2d320;
}

tbody tr:hover {
  background-color:#c6e6f1!important;
}
