.car_subscription {
  padding-bottom: 10px;
  border-bottom: 1px black solid;
}

.car_subscription input,
b,
select {
  font-size: x-large;
}

.car_info_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

.car_info {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.button_gap {
  display: flex;
  gap: 20px;
  white-space: nowrap;
}

.bottom_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  gap: 20px;
}

.bottom_right_buttons {
  display: flex;
  gap: 20px;
}
